<div class="header-title">
    {% include header-title.html %}
</div>

<div class="header-title-mobile">
    {% include header-title-mobile.html %}
</div>

<p>{{ site.description | default: site.github.project_tagline }}</p>

{% include sidebar.html %}

 <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "mainEntity": {
        "@type": "Person",
        "name": "Louis Hodge",
        "image": "https://l-hodge.github.io/personal-site/images/LH-headshot.jpg",
        "url": "https://l-hodge.github.io/personal-site/",
        "sameAs": [
          "https://uk.linkedin.com/in/louis-hodge",
          "https://x.com/louis_hodge_",
          "https://github.com/l-hodge",
          "https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=qQuNQ4YAAAAJ",
          "https://www.rand.org/about/people/h/hodge_louis.html",
          "https://ifs.org.uk/people/louis-hodge",
          "https://epi.org.uk/author/lhodge/",
          "https://www.tes.com/magazine/author/louis-hodge",
          "https://muckrack.com/louis-hodge/articles",
          "https://www.researchgate.net/profile/Louis-Hodge-4"
          ],
        "jobTitle": "Research Leader",
        "alumniOf": [
            {
              "@type": "EducationalOrganization",
              "name": "University of Bristol"
            }
          ],
        "worksFor": [
            {
              "@type": "EmployeeRole",
              "startDate": "2025-04",
              "roleName": "Research Leader",
              "worksFor": {
                "@type": "Organization",
                "name": "RAND Europe",
          		"url": "https://www.rand.org/randeurope.html"
              }
            },
          {
              "@type": "EmployeeRole",
              "startDate": "2022-12",
              "endDate": "2024-12",
              "roleName": "Associate Director",
              "worksFor": {
                "@type": "Organization",
                "name": "Education Policy Institute",
          		"url": "https://epi.org.uk/",
                "sameAs": [
           		  "EPI"
          		]
              }
            },
            {
              "@type": "EmployeeRole",
              "startDate": "2019-11",
              "endDate": "2022-11",
              "roleName": "Economist",
              "worksFor": {
                "@type": "Organization",
                "name": "Department for Education",
                "url": "https://www.gov.uk/government/organisations/department-for-education",
                "sameAs": [
                  "DfE"
                ]
              }
            },
            {
              "@type": "EmployeeRole",
              "startDate": "2019-01",
              "endDate": "2019-10",
              "roleName": "Research Assistant",
              "worksFor": {
                "@type": "Organization",
                "name": "Institute for Fiscal Studies",
                "url": "https://ifs.org.uk/",
                "sameAs": [
                  "IFS"
                ]
              }
            }
          ]
      }
    }
</script>
