<div class="header-title">
    {% include header-title.html %}
</div>

<div class="header-title-mobile">
    {% include header-title-mobile.html %}
</div>

<p>{{ site.description | default: site.github.project_tagline }}</p>

{% include sidebar.html %}

 <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "mainEntity": {
        "@type": "Person",
        "name": "Louis Hodge",
        "image": "https://l-hodge.github.io/personal-site/images/LH-headshot.jpg",
        "sameAs": [
          "https://uk.linkedin.com/in/louis-hodge",
          "https://x.com/louis_hodge_",
          "https://github.com/l-hodge",
          "https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=qQuNQ4YAAAAJ"
          ]
      }
    }
</script>
