---
layout: default
title: School System and Performance
permalink: /school-system-and-performance
---
<p><strong><a href=".">Home</a> &gt;&gt; School System and Performance</strong></p>

<h1>School System and Performance</h1>
<p>This page lists my research on the school system in England.</p>

{% assign publications = site.school-system-and-performance | sort: "year" | reverse %}
{% for pub in publications %}
<div class="pubitem">
  <div class="pubtitle">{{ pub.title }}</div>
  <div class="pubauthors">{{ pub.authors }}, {{ pub.year }}</div>
  <div class="pubinfo">{{ pub.type }} {{ pub.number }}, {{ pub.institution }}</div>
  <div class="pubabstract">{{ pub.abstract }}</div>
  <div class="publinks">
    <a href="{{ pub.url }}"><i class="fas fa-file-pdf"></i> PDF</a>
    &nbsp;&nbsp;
    <a href="/personal-site/download/{{ pub.slug }}.bib"><i class="fas fa-file-alt"></i> BibTex</a>
    &nbsp;&nbsp; {% if pub.doi %}
    <a href="{{ pub.doi }}"><i class="fas fa-external-link"></i> DOI</a>
    {% endif %}
  </div>
</div>
{% endfor %}